.Title
{
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  letter-spacing: -1px;
}

/*img-flex is used to center my images on my three html pages */
.img-flex
{
 display: flex;
}

.img-flex 
{
  justify-content: center;
  width:auto;
  height:400px;
}
/*resizing picture on main pages*/
.recipe-images
{
  height:400px;
  width:600px;
}

.Descrip
{
  font-family:serif;
  font-weight: 100;
  font-size: 25px;
  text-align: center;
  line-height: 25px;

}

/*centers ingredients list and dots from ul list and changes font*/
.Ingredients
{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
list-style-position: inside;
padding-right:50px;
}
/*center instructions and changes the line height and font*/
.Instructions
{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
  padding-left: 10px;
  list-style-position: inside;
  line-height: 35px;
}
/*used to underline descriptions, ingridents, instructions and nurtrition labels*/
p.para
{
  text-align: center;
  font-size: 23px;
  text-decoration: underline;
}

.Nutrition
{
  font-size: 20px;
  text-align: center;
}

.links
{
  font-size: 25px;
  text-align: center;
}
/*changes body color on seperate pages*/
#body-1
{
  background-color: beige;
}

#body-2
{
background-color:aquamarine; 
}

#body-3
{
background-color: rgb(243, 194, 102);
}

#body-4
{
background-color: rgba(0, 255, 0, 0.521) ;
}
/*change ul list from circle to squares*/
.u-list
{
  list-style-type: square;
}
/*changes ol from numbers to roman numerals*/
.o-list
{
  list-style-type: upper-roman;
}

/*resizes pictures on main page inside flex box*/
.Recipe-Preview
{
Height: 250px;
Width:300px;
border-radius:150px;
}
/*spaces all the images evenly*/
.flex
{
  display: flex;
}

.flex
{
  height:300px;
  width:auto;
  justify-content: space-around;
  padding-top: 10px;
}

/*spaces all link buttons evenly*/
.flex-links
{
  display: flex;
}

.flex-links
{
  justify-content: space-around;
}










